# typemax board configuration

if BOARD_TYPEMAX

config BOARD
	default "typemax"

config BT_CTLR
	default BT

config ZMK_KEYBOARD_NAME
    default "TypeMax"

config ZMK_KSCAN_MATRIX_POLLING
    default y

endif # BOARD_TYPEMAX
